
/* animation */

/* 
The animation shorthand CSS property applies an animation between styles. 
It is a shorthand for animation-name, animation-duration, animation-timing-function, animation-delay, 
animation-iteration-count, animation-direction, animation-fill-mode, animation-play-state, and animation-timeline. 

@keyframes duration | easing-function | delay | iteration-count | direction | fill-mode | play-state | name
*/

.p1 {
    animation: 3s ease-in 1s 2 reverse both paused slidein;

}

/* @keyframes duration | easing-function | delay | name */

.div1 {
    animation: 3s linear 1s slidein;
}

/* two animations */

.div2 {
    animation:
        3s linear slidein,
        3s ease-out 5s slideout;
}

/* The animation property is specified as one or more single animations, separated by commas. */